@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;200;300;400;500&display=swap');
.example{
    color: black;

}

h2,h3{
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    width: 300px;
    height: 40px;
    margin: 50px auto;
    background-color: rgba(8, 8, 8, 0.7);
    padding: 0 20px;
    border-radius: 5px;
    color: rgb(252, 247, 247);
    font-family:'Poppins';
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.sample-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100px;
    margin: 50px auto;
    background-color: rgba(8, 8, 8, 0.7);
    padding: 0 20px;
    border-radius: 5px;
    color: rgb(252, 247, 247);
    font-family:'Poppins';
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.code-button {
padding: 0;
background-color: transparent;
border: none;
cursor: pointer
}

.code-button:focus {
outline: none;
}

.code-button img {
width: 25px;
}



.package-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer
    }
    
    .package-button:focus {
    outline: none;
    }
    
    .package-button img {
    width: 25px;
    }



#done{
    visibility: hidden;
}

#done-p{
    visibility: hidden;
}

.example-container{
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 467px) {

    .example{
        position:relative;
        width: 400px;
        border-radius: 10px;
        background-color: rgba(235, 203, 244, 0.7);
        margin: 0px;
        padding: 10px;
    }


    .example-container{
        display: flex;
        justify-content: center;
        padding-left: 30px;
        margin: 0px;
        visibility: visible;
    }

    .example-container-phone{
        display: none;
        visibility: hidden;
    }

    .code-text{
        font-size: 0.7rem;
        width: 250px;
    }

    .sample-box{
        width: auto;
    }

    .box{
        width: 320px;
        padding: 10px;
    }




}